.monkey {
    background-color: #0d4812;
    margin-bottom: 40px;
}

.monkey-title {
    color: #d546ff;
    font-size: 5em;
}

.individual-monkeys {
    color: white;
    font-weight: lighter;
}

.btn-default {
    background: none;
    color: white;
    border-width: 2px;
    border-color: white;
}

.btn-default:hover {
    background: none;
    color: #ff1b2f;
    border-width: 2px;
    border-color: #ff0a00;
}

input.form-control.post {
    min-height: 40px;
}

.post {
    color: white;
    margin-top: 30px;
}
